$body-bg: skyblue;
$border-radius: 25%;

@import '~bootstrap/scss/bootstrap';

// .column1,
// .column2,
// .column3 {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   border: 8px 0 5px 0 solid deeppink;
//   float: right;
//   margin: 0px
//
// }

// .row {
//   display: flex;
//   justify-content: center;
// }

.gameboard {
  width: 100vmin;
}

.game-board {
  align-items: center;
  display: flex;
  justify-content: center;
}

.tic-tac {
  align-items: center;
  display: flex;
  font-family: 'Galindo', cursive;
  justify-content: center;
}

.toe {
  align-items: center;
  display: flex;
  font-family: 'Monoton', cursive;
  justify-content: center;
}

img {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 25vmin;
  width: 25vmin;
}

.row,
h3,
h2,
.giphy-embed {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  right: 0;
}

// .sq {
//   border: 2px solid skyblue;
//   cursor: pointer;
//   font-family: sans-serif;
//   font-size: x-large;
//   height: 200px;
//   margin-right: -3px;
//   padding-top: 30px;
//   text-align: center;
//   transition: background .3s;
//   vertical-align: top;
//   width: 200px;
// }

.cells {
  align-items: center;
  border-bottom: 2px solid;
  border-right: 2px solid;
  display: flex;
  font-size: 10vmin;
  height: calc(100% / 3);
  justify-content: center;
}

.cells:nth-child(3n) {
  border-right: 0;
}

.cells:nth-last-child(-1n + 3) {
  border-bottom: 0;
}

.sq {
  align-items: center;
  display: flex;
  justify-content: center;
}
