@import '~bootstrap/scss/bootstrap';

// .column1,
// .column2,
// .column3 {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   border: 8px 0 5px 0 solid deeppink;
//   float: right;
//   margin: 0px
//
// }

.row {
  display: flex;
  justify-content: center;
}



.sq {
  border: 2px solid skyblue;
  cursor: pointer;
  font-family: sans-serif;
  font-size: x-large;
  height: 200px;
  margin-right: -3px;
  padding-top: 30px;
  text-align: center;
  transition: background .3s;
  vertical-align: top;
  width: 200px;
}
